{% extends 'body.html.twig' %}
{% set pageId = 'rda_page_home' %}

{% block bodyclass %}{% endblock %}

{% block header %}
    <header id="rda_main_header">
        <h1>ROLLER DERBY ARCHIVE</h1>
        <span>BETA TEST</span>
    </header>
{% endblock %}

{% block asidebefore %}
    <aside id="rda_page_home_secondary_menu">
        <menu>
            <li>
                <a href="{{ path(routes.page.about) }}">
                    <img alt="{{ texts.about.title }}" src="{{ asset('images/information-icon.svg') }}">
                    <p>{{ texts.about.title }}</p>
                </a>
            </li>
            <li>
                <a href="{{ path(routes.page.contact) }}">
                    <img alt="{{ texts.contact.title }}" src="{{ asset('images/email.svg') }}">
                    <p>{{ texts.contact.title }}</p>
                </a>
            </li>
            <li>
                <a href="{{ path(routes.page.cgu) }}">
                    <img alt="{{ texts.cgu.title }}" src="{{ asset('images/law-scales.webp') }}">
                    <p>{{ texts.cgu.title }}</p>
                </a>
            </li>
            <li>
                <a href="{{ path(routes.page.upgradeLogs) }}">
                    <img alt="{{ texts.upgradeLogs.title }}" src="{{ asset('images/update.svg') }}">
                    <p>{{ texts.upgradeLogs.title }}</p>
                </a>
            </li>
        </menu>
    </aside>
{% endblock %}

{% block content %}
    <main id="rda_page_home_content">
        <search data-club-svg-path="{{ asset('images/club.svg') }}" data-team-svg-path="{{ asset('images/team.svg') }}">
            <form action="/widget/search">
                <label for="rda_search_bar_text_input"><img alt="search button" src="{{ asset('images/search.svg') }}"></label>
                <input type="search" id="rda_search_bar_text_input" placeholder="Asso, équipe, ville,..." autocomplete="off" name="needle" value="{{ needle|default('') }}"/>
                <button type="submit" hidden="hidden" id="rda_search_bar_submit"></button>
            </form>
        </search>
    </main>
{% endblock %}

{% block asideafter %}
    <aside id="rda_page_home_main_menu">
        <menu>
            <li>
                <a class="{{ styles.common.link }}" href="{{ path(routes.club.list) }}">Les archives</a>
            </li>
            <li>
                <a class="{{ styles.common.link }}" href="{{ path(routes.club.list) }}">Histoire</a>
            </li>
            <li>
                <a class="{{ styles.common.link }}" href="{{ path(routes.club.list) }}">Aides & contributions</a>
            </li>
            <li>
                <a class="{{ styles.common.link }}" href="{{ path(routes.page.flattrackRanking, {gender: 'women'}) }}">Classements</a>
            </li>
        </menu>
    </aside>
{% endblock %}
