<table class="rda-games-list">
    <caption>Saison {{ season }} ({{ games|length }})</caption>
    <thead>
        <tr>
            <th>Joué le</th>
            <th>Contre</th>
            <th>Type</th>
            <th>Résultas</th>
            <th>Score</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
    {% for game in games %}
        {% if game.teamGames[0].team == team %}{% set me = 0 %}{% set oponent = 1 %}{% else %}{% set me = 1 %}{% set oponent = 0 %}{% endif %}
        <tr>
            <td>{{ game.playedAt|format_datetime(pattern='d MMMM Y') }}{% if game.playedAt <= date('2021/05/02') and game.playedAt >= date('2020/03/17') %}🦠{% endif %}</td>
            <td>
                {% if game.teamGames[oponent].team.countryCode == 'FRA' %}
                    <a class="rda-wiki-link" href="{{ path(constant('App\\Action\\Team\\ViewAction::ROUTE_NAME'), {id: game.teamGames[oponent].team.id}) }}">
                        {{ teamName(game.teamGames[oponent].team.name, game.teamGames[oponent].team.pronoun) }}
                    </a>
                {% else %}
                    <a class="rda-wiki-link" target="_blank" href="{{ flattrackTeamPath(game.teamGames[oponent].team.flattrackId) }}">
                        {{ teamName(game.teamGames[oponent].team.name, game.teamGames[oponent].team.pronoun) }}
                        {{ include('/widget/_flag.html.twig', {noFrench: true, countryCode: game.teamGames[oponent].team.countryCode}) }}
                    </a>
                {% endif %}
            </td>
            <td>Classé</td>
            <td>
                {% if game.teamGames[me].score == null or game.teamGames[oponent] == null %}
                {% else %}
                    {% if game.teamGames[me].score - game.teamGames[oponent].score > 100 %}☀️
                    {% elseif game.teamGames[me].score - game.teamGames[oponent].score > 50 %}🌤️
                    {% elseif game.teamGames[me].score - game.teamGames[oponent].score > 0 %}⛅️
                    {% elseif game.teamGames[me].score - game.teamGames[oponent].score > -50 %}☁️
                    {% elseif game.teamGames[me].score - game.teamGames[oponent].score > -100 %}🌧️
                    {% else %}⛈️
                    {% endif %}
                {% endif %}
                {% if game.teamGames[me].score != null and game.teamGames[oponent] != null %}
                    {% if game.teamGames[me].score - game.teamGames[oponent].score > 0 %}<span class="rda-win">Victoire</span>{% else %}<span class="rda-lose">Défaite</span>{% endif %}</td>
                {% endif %}
            <td>
                {% if game.teamGames[me].score == null or game.teamGames[oponent] == null %}
                {% else %}
                    {{ game.teamGames[me].score }} à {{ game.teamGames[oponent].score }}
                {% endif %}
            </td>
            <td><a class="rda-wiki-link" href="{{ path(constant('App\\Action\\Game\\ViewAction::ROUTE_NAME'), {id: game.id}) }}">+</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
