{% extends 'base.html.twig' %}

{% block body %}
    <main id="team_view" class="rda-page rda-layout rda-grid">
        <header class="rda-title-bar">
            <h1>{{ teamName(team.name, team.pronoun) }}{% if team.disbandAt != null %} ☠️{% endif %}</h1>
        </header>
        <div class="rda-club-view-content rda-content">
            {{ include('team/_info_box.html.twig', {flattrackRank: flattrackRank, team: team}) }}
            <section class="rda-club-view-history">
                <h2>Présentation</h2>
                {{ team.overview }}
            </section>
            <section>
                <h2>Histoire</h2>
                {{ team.history }}
            </section>
            <section>
                <h2>Matchs</h2>
                {% for season, games in gameBySeason %}
                    {{ include('team/_game_list.html.twig', {team: team, season: season, games: games}) }}
                {% endfor %}
            </section>
        </div>
        <aside class="rda-right-side-bar">
            {{ include('_menu_side_bar.html.twig', {disable: null}) }}
        </aside>
    </main>
{% endblock %}
