{% extends 'base.html.twig' %}

{% block body %}
    <main id="team_view" class="rda-page rda-layout rda-grid">
        <header class="rda-title-bar">
            <h1>{{ teamName(team.name, team.pronoun) }}{% if team.disbandAt != null %} ☠️{% endif %}</h1>
        </header>
        <div class="rda-club-view-content rda-content">
            {{ include('team/_info_box.html.twig', {flattrackRank: flattrackRank, team: team}) }}
            <section class="rda-club-view-history">
                <h2>Présentation</h2>
                {{ team.overview }}
            </section>
            <section>
                <h2>Histoire</h2>
                {{ team.history }}
            </section>
            <section>
                <h2>Matchs</h2>
                {% for season, games in gameBySeason %}
                    <h3>{{ season }}</h3>
                        <table>
                            <tbody>
                    {% for game in games %}
                        {% if game.teamGames[0].team == team %}{% set me = 0 %}{% set oponent = 1 %}{% else %}{% set me = 1 %}{% set oponent = 0 %}{% endif %}
                        <tr class="
{% if game.teamGames[me].score - game.teamGames[oponent].score > 100 %}win3
{% elseif game.teamGames[me].score - game.teamGames[oponent].score > 50 %}win2
{% elseif game.teamGames[me].score - game.teamGames[oponent].score > 0 %}win1
{% elseif game.teamGames[me].score - game.teamGames[oponent].score > -50 %}lose1
{% elseif game.teamGames[me].score - game.teamGames[oponent].score > -100 %}lose2
{% else %}lose3
{% endif %}">
                            <td>
                                {% if game.teamGames[me].score - game.teamGames[oponent].score > 100 %}☀️
                            {% elseif game.teamGames[me].score - game.teamGames[oponent].score > 50 %}🌤️
                            {% elseif game.teamGames[me].score - game.teamGames[oponent].score > 0 %}⛅️
                            {% elseif game.teamGames[me].score - game.teamGames[oponent].score > -50 %}☁️
                            {% elseif game.teamGames[me].score - game.teamGames[oponent].score > -100 %}🌧️
                            {% else %}⛈️
                                {% endif %}
                            </td>
                            <td>{{ game.playedAt|date('d/m/Y') }}</td>
                            <td>
                                {% if game.teamGames[oponent].team.countryCode == 'FRA' %}
                                    <a class="rda-wiki-link" href="{{ path(constant('App\\Action\\Team\\ViewAction::ROUTE_NAME'), {id: game.teamGames[oponent].team.id}) }}">{{ game.teamGames[oponent].team.name }}</a>
                                {% else %}
                                    {{ game.teamGames[oponent].team.name }}
                                {% endif %}
                            </td>
                            <td>{{ game.teamGames[me].score }} à {{ game.teamGames[oponent].score }}</td>
                            <td>Détails</td>
                        </tr>
                    {% endfor %}
                            </tbody>
                        </table>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}
