{% extends 'content.html.twig' %}
{% set mainId = 'club_list' %}

{% block leftSideBar %}
    {{ include('club/_filter.html.twig') }}
{% endblock %}

{% block titleBar %}
    <h1>Les associations ({{ total }})</h1>
{% endblock %}

{% block toolBar %}
    <a href="{{ path(routes.club.create) }}">Créer</a>
{% endblock %}

{% block content %}
    {% if total == 0 %}
        <p>Aucune association trouvées avec ces filtres.</p>
    {% else %}
        <ul class="{{ styles.template.listWrapper }}">{% for name, clubs in sortedClubs %}
                <li>
                    <ul class="{{ styles.template.list }}">
                        <li><h2>{{ name }} ({{ clubs|length }})</h2></li>
                        {% for club in clubs %}
                            <li>
                                <a href="{{ path(constant('App\\Action\\Club\\ViewAction::ROUTE_NAME'), {id: club.id}) }}">
                                    <div class="{{ styles.common.logoBox }}">
                                        {% if club.logo != null %}
                                            {{ include('widget/_logo.twig', {hasLogoEntity: club}) }}
                                        {% else %}
                                            <img alt="logo-club" src=" https://placehold.co/36x36">
                                        {% endif %}
                                    </div>
                                    <div>
                                        <p>{{ club.Name }}{% if null != club.Alias %} ({{ club.alias }}){% endif %}{% if club.closedAt != null %}☠️{% endif %}</p>
                                        <p>{{ club.cities|join(', ') }}</p>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}</ul>
    {% endif %}
{% endblock %}

{% block rightSideBar %}
    {{ include('template/_menu_side_bar.html.twig', {disable: 'clubs'}) }}
{% endblock %}
