{% extends 'body.html.twig' %}
{% set pageId = 'clud_view' %}

{% block titleBar %}
    <h1>{{ club.name }}{% if club.closedAt != null %} ☠️{% endif %}</h1>
{% endblock %}

{% block toolBar %}
    <a href="{{ path(routes.club.edit, {id: club.id}) }}">Éditer</a>
{% endblock %}

{% block content %}
    {{ include('club/_info_box.html.twig', {club: club}) }}
    <section>
        <h2>Présentation</h2>
        {{ club.overview }}
    </section>
    <section>
        <h2>Histoire</h2>
        {{ club.history }}
    </section>
{% endblock %}

{% block rightSideBar %}
    {{ include('template/_menu_side_bar.html.twig', {disable: 'null'}) }}
{% endblock %}
