<turbo-frame id="search_bar">
    <search>
        <form action="/widget/search">
            <label for="search_text_input"></label>
            {# Don't split input and button because it's create sapce between us. I don't know why. #}
            <label for="search_bar_text_input"></label><input type="search" id="search_bar_text_input" placeholder="Asso, équipe, ville,..." autocomplete="off" name="needle" value="{{ needle|default('') }}"/><button type="submit" id="search_bar_submit">Rechercher</button>
                {% if results|default(null) != null %}
                    <ul>{% for result in results %}
                        <li>
                            {% if result.entity == 'club' %}
                                <a class="rda-wiki-link rda-search-result-club" data-turbo-frame="_top" href="{{ path(constant('App\\Action\\Club\\ViewAction::ROUTE_NAME'), {id: result.id}) }}">{{ result.name }}</a>
                            {% elseif result.entity == 'team' %}
                                <a class="rda-wiki-link rda-search-result-team" data-turbo-frame="_top" href="{{ path(constant('App\\Action\\Team\\ViewAction::ROUTE_NAME'), {id: result.id}) }}">{{ result.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}</ul>
                {% endif %}
        </form>
    </search>
</turbo-frame>
